.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
  }


  @media(max-width:991px) {
    &__inner {
      width: 100%;
    }
    &__img 
      img {
      width: 100%;
    }
  }
}
